<div class="container">
  <div class="row">
    <ng-container *ngFor="let product of productList">
      <div class="col col-lg-4 mt-2">
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem; margin: 0 auto;">
          <a routerLink="/detail/{{product.product_id}}" class="card-link">
            <img src="assets/img/{{product.product_img}}" class="card-img-top" alt="{{product.product_name}}">

          </a>
          <div class="card-body text-center">
            <a routerLink="/detail/{{product.product_id}}" class="card-link">
              <h5 class="card-title" title="{{product.product_name}}">{{product.product_name | formatcontent: 0: 15}}</h5>
            </a>
            <p class="card-text text-danger fw-bold">{{product.product_price | formatnumber}} VNĐ</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
