<app-header></app-header>

<div class="container mt-3 mb-3 form-center">
  <div class="center">
    <h1>Đăng Ký Mua Sắm</h1>
    <form [formGroup]="registerForm" (ngSubmit)="postData(registerForm)">
      <div class="txt_field">
        <input type="text" name="name" required formControlName="name">
        <span></span>
        <label>Tên của bạn</label>
      </div>

      <div class="txt_field">
        <input type="text"  name="email" required  formControlName="email">
        <span></span>
        <label>Tài khoản email</label>
      </div>

      <div class="txt_field">
        <input type="password"  name="password" required formControlName="password">
        <span></span>
        <label>Mật khẩu</label>
      </div>
      <div class="txt_field">
        <input type="password" name="r_password" required formControlName="r_password">
        <span></span>
        <label>Nhập lại mật khẩu</label>
      </div>
      <!-- <div class="pass">Forgot Password?</div> -->
      <input type="submit" value="Đăng Ký">
      <div class="signup_link">
        Bạn đã có tài khoản <a routerLink="/login">Đăng nhập</a>
      </div>
    </form>
  </div>

</div>


<app-footer></app-footer>
