<div class="container-fluid p-4 footer mt-3">
  <div class="row">
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <h4 class="mb-3">Toys Store</h4>
      <p>
        Toys Store thiên đường của đồ chơi trẻ em, ở đây chúng tôi sẽ luôn cung cấp cho khách hàng những dịch vụ tốt nhất.
      </p>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12">
      <h5>Trang chính</h5>
      <hr>
      <a routerLink="/home">Trang chủ</a>
      <a routerLink="/product">Sản phẩm</a>
      <a routerLink="/brand">thương hiệu</a>
      <a href="#">giới thiệu</a>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12">
      <h5>Thời gian làm việc</h5>
      <hr>
      <p>Thứ 2 - 6: 8h - 20h</p>
      <p>Thứ 7: 9h - 16h</p>
      <p>Chủ nhật: Đóng cửa</p>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12">
      <h5>Liên hệ</h5>
      <hr>
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
          <textarea class="form-control" placeholder="Nội dung"></textarea>
        </div>
        <button class="btn btn-success">Gửi</button>
      </form>
    </div>
  </div>
</div>
