<app-header-admin></app-header-admin>


<div class="container" style="margin-top: 80px;">
  <div class="card shadow-lg p-3 mb-2 bg-body rounded">
    <div class="card-body">
      <h3 class="text-center mb-2">Danh sách hoá đơn</h3>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Địa chỉ giao hàng</th>
            <th scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let item of billList; let i = index">
            <th scope="row" width="10%" class="text-center">{{i+1}}</th>
            <td  width="25%">{{item.bill_name}}</td>
            <td  width="40%">{{item.bill_address}}</td>
            <td  width="15%"  class="text-center">{{item.bill_total | formatnumber}} VND</td>
            <td width="10%" class="text-center">
              <a class="btn btn-success m-1" title="Chi tiết hoá đơn {{item.bill_id}} : {{item.bill_name}} " routerLink="/admin/bill-detail/{{item.bill_id}}">
                <i class="fas fa-edit"></i>
              </a>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<app-footer-admin></app-footer-admin>
