<app-header></app-header>

<div class="container mt-3">
  <div class="card shadow p-3 bg-body rounded">
    <div class="card-body">
      <h3>Website Toys Store</h3>
      <p>Toys Store thiên đường của đồ chơi trẻ em, ở đây chúng tôi sẽ luôn cung cấp cho khách hàng những dịch vụ tốt nhất.</p>
      <p>Tại đây quý khách hàng có thể thảo thích chọn các loại đồ chơi phù hợp cho các bé.</p>
      <p>Thông tin liên lạc:</p>
      <ul>
        <li>SĐT: 0349390596</li>
        <li>Gmail: tuananhpham17102000@gmail.com</li>
        <li>Địa chỉ: TP.HCM, Việt Nam</li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
